@using Speculum.ViewModel.Customer
@model CustomerViewModel 

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <h1> الزبائن</h1>
        </div>

        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">

                    <div class="table-responsive">

                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table xxx table-striped dataex-html5-selectors" id="CustomerTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">
                                                <th scope="col">رقم الزبون</th>
                                                <th scope="col">إسم الزبون</th>
                                                <th scope="col">رقم الهاتف</th>
                                                <th scope="col">الإيميل</th>
                                                <th scope="col">تعديل</th>
                                                <th scope="col">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var customer in Model.GetCustomers)
                                            {
                                                <tr data-id="@customer.Id" data-name="@customer.Name"
                                                    data-phone="@customer.Phone" data-email="@customer.Email"
                                                    role="row" class="odd id-@customer.Id">
                                                    <td>@customer.Id</td>
                                                    <td class="name">@customer.Name</td>
                                                    <td class="phone">@customer.Phone</td>
                                                    @if (customer.Email == null)
                                                    {
                                                        <td class="email">لا يوجد</td>
                                                    }
                                                    else
                                                    {
                                                        <td class="email">@customer.Email</td>
                                                    }
                                                    <td><a class="feather icon-edit-1 edit-customer"></a></td>
                                                    <td><a class="btn trash delete-customer" style="color:red"><i class="fa fa-remove"></i></a></td>
                                                </tr>
                                            }
                                    </table>
                                </div>
                            </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"></div></div></div>
                        </div>
                    </div>


                </div>
            </section>

            <a class="AddButton add-customer">
                <i class="fa fa-plus my-float" data-toggle="tooltip"
                   data-original-title="إضافة زبون" data-placement="top"></i>
            </a>

            <div class="modal fade" id="AddCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-modal="true" style="padding-right: 17px; display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="color:#5347d0" class="modal-title" id="exampleModalLongTitle">معلومات الزبون</h5>
                            <button id="Exit" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form id="addFormCustomer">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-12">
                                        <label asp-for="Name">اسم الزبون</label>
                                        <input asp-for="Name" id="name" class="form-control" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="Phone">رقم الهاتف</label>
                                        <input asp-for="Phone" id="phone" type="number" class="form-control" />
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="Email">الإيميل</label>
                                        <input asp-for="Email" id="email" class="form-control" />
                                    </div>
                                    <input asp-for="CustomerId" hidden id="CustomerId" />
                                </div>
                            </div>

                            <div class="modal-footer">
                                <button class="btn btn-primary waves-effect waves-light add-customer">حفظ</button>
                                <button data-dismiss="modal" class="btn btn-danger waves-effect waves-light">إغلاق</button>
                            </div>
                        </form>
                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


@section Scripts{

    <script src="~/assets/lib/js/datatable/datatablesinarabic.js"></script>
    <script src="~/assets/lib/js/datatable/datatables.min.js"></script>
    <script src="~/assets/lib/js/datatable/datatables.bootstrap4.min.js"></script>
    <script src="~/js/Views/Customer/customer.js"></script>
}