@using Speculum.ViewModel.Cloth
@model ClothViewModel

<div class="app-content content">
    <div class="content-overlay"></div>
    <div class="header-navbar-shadow"></div>
    <div class="content-wrapper">
        <div class="content-header row">
            <h1>صفحة لتسجيل وإستعراض مواد القماش</h1>
        </div>
        <div class="content-body">
            <section id="dashboard-analytics">
                <div class="row">

                    <div class="table-responsive">
                        <div id="DataTables_Table_0_wrapper" class="dataTables_wrapper dt-bootstrap4 col-12">
                            <div class="row">
                                <div class="col-12">
                                    <table class="table xxx table-striped dataex-html5-selectors" id="categoryTable" role="grid" aria-describedby="DataTables_Table_0_info">
                                        <thead>
                                            <tr role="row">

                                                <th scope="col">إسم القماش</th>
                                                <th scope="col">إسم المادة</th>
                                                <th scope="col">حذف</th>
                                            </tr>
                                        </thead>
                                        <tbody>

                                            @foreach (var cloth in Model.GetClothMaterial)
                                            {
                                                <tr role="row" class="odd">
                                                    <td class="nameEng">@cloth.Cloth</td>
                                                    <td class="nameEng">@cloth.Material</td>
                                                    <td><a type="submit" class="btn trash" style="color:red" asp-controller="Cloth" asp-action="RemoveClothMaterials" asp-route-id="@cloth.Id"><i class="fa fa-remove"></i></a></td>
                                                </tr>


                                            }

                                    </table>
                                </div>
                            </div><div class="row"><div class="col-sm-12 col-md-5"></div><div class="col-sm-12 col-md-7"><div class="dataTables_paginate paging_simple_numbers" id="DataTables_Table_0_paginate"></div></div></div>
                        </div>
                    </div>


                </div>
            </section>

            <a data-target="#AddCustomerModal"
               data-toggle="modal" class="AddButton">
                <i class="fa fa-plus my-float" data-toggle="tooltip"
                   data-original-title="إضافة" data-placement="top"></i>
            </a>

            <div class="modal fade" id="AddCustomerModal" tabindex="-1" role="dialog" aria-labelledby="exampleModalLongTitle" aria-modal="true" style="padding-right: 17px; display: none;">
                <div class="modal-dialog" role="document">
                    <div class="modal-content">
                        <div class="modal-header">
                            <h5 style="color:#5347d0" class="modal-title" id="exampleModalLongTitle">إضافة المادة المناسبة لكل نوع قماش</h5>
                            <button id="Exit" class="close" data-dismiss="modal" aria-label="Close">
                                <span aria-hidden="true">×</span>
                            </button>
                        </div>
                        <form id="AddCustomerModal" method="post"
                              asp-controller="Cloth"
                              asp-action="ClothMaterials">
                            <div class="modal-body">
                                <div class="row">
                                    <div class="form-group col-6">
                                        <label asp-for="ClothId" class="col-form-label">اختر نوعية القماش</label>
                                        <select asp-for="ClothId" id="CategorySelect" class="custom-select col-md-12" required>
                                            @foreach (var Cloth in Model.GetCloths)
                                            {
                                                <option value="@Cloth.Id">@Cloth.Name</option>
                                            }
                                        </select>
                                    </div>
                                    <div class="form-group col-6">
                                        <label asp-for="MaterialId" class="col-form-label">اختر المادة</label>
                                        <select asp-for="MaterialId" id="CategorySelect" class="custom-select col-md-12" required>
                                            @foreach (var Material in Model.GetMaterials)
                                            {
                                                <option value="@Material.Id">@Material.Name</option>
                                            }
                                        </select>
                                    </div>

                                </div>
                            </div>

                            <div class="modal-footer">
                                <button type="submit" class="btn btn-primary waves-effect waves-light">إضافة</button>
                                <button type="submit" data-dismiss="modal" class="btn btn-danger waves-effect waves-light">إغلاق</button>
                            </div>
                            <input hidden asp-for="Id" />

                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@section Scripts{

    <script src="~/assets/lib/js/datatable/datatablesinarabic.js"></script>
    <script src="~/assets/lib/js/datatable/datatables.min.js"></script>
    <script src="~/assets/lib/js/datatable/datatables.bootstrap4.min.js"></script>

}